/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .r1-registration-table select{
    width: 15em;
 }

 .r1-registration-table .radio-item{
    display: inline-block;
    margin-right: 2em;
 }